{% include 'components/report_header.md.j2' %}

{% include 'components/summary_stats.md.j2' %}

{% include 'components/core_extensions_table.md.j2' %}

{% include 'components/community_extensions_consolidated.md.j2' %}

{% include 'components/duckdb_release_info.md.j2' %}

{% include 'components/url_validation_section.md.j2' %}

{% if metadata.include_methodology %}
{% include 'components/methodology_section.md.j2' %}
{% endif %}