---
## Community Extensions

Third-party extensions maintained by the community

| # | Extension | Repository | Status | Last Activity | Stars | Language | Description |
|---|-----------|------------|--------|---------------|-------|----------|-------------|
{% for ext in community_extensions -%}
| {{ loop.index }} | [{{ ext.name }}]({{ ext.docs_url }}) | {% if ext.repository %}[{{ ext.repository.split('/')[1] if '/' in ext.repository else ext.repository }}](https://github.com/{{ ext.repository }}){% else %}N/A{% endif %} | {{ ext.status | status_badge }} | {{ ext.last_activity | relative_date }} | {{ ext.stars | number_format }} | {{ ext.language }} | {{ ext.description | truncate(80) }} |
{% endfor %}

**Total:** {{ community_extensions|length }} extensions
