## {{ tables.community_extensions.title }}

{{ tables.community_extensions.description }}

| # | Extension | Repository | Status | Last Activity | Stars | Language | Description |
|---|-----------|------------|--------|---------------|-------|----------|-------------|
{% for ext in community_extensions | sort(attribute='name') -%}
| {{ loop.index }} | {{ ext.name | extension_link(ext.docs_url, url_validation, ext.name) }} | {{ ext.repository | github_link(url_validation, ext.name) }} | {{ ext.status | status_badge }} | {{ ext.last_activity | datetime_with_relative(ext.last_push) }} | {{ ext.stars | number_format }} | {{ ext.language }} | {{ ext.description | truncate(100) }} |
{% endfor %}

**Total:** {{ community_extensions | length }} extensions

---