## Featured Extensions

The following {{ community_extensions | selectattr('featured', 'equalto', true) | list | length }} extensions are prominently featured on the [DuckDB Community Extensions]({{ metadata.links.community_extensions }}) page:

{% for ext in community_extensions | selectattr('featured', 'equalto', true) | sort(attribute='stars', reverse=true) -%}
**{{ loop.index }}. [{{ ext.name }}]({{ ext.docs_url }})**{% if ext.repository %} ([GitHub](https://github.com/{{ ext.repository }})){% endif %}
{% if ext.stars %}⭐ {{ ext.stars | number_format }} stars{% endif %}{% if ext.language %} • {{ ext.language }}{% endif %}  
{{ ext.description }}

{% endfor %}

---